
    <!--====== ABOUT PART START ======-->

    <section id="about-page" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50 pb-35">
                        <h3>About us</h3>

                    </div> <!-- section title -->
                    <div class="about-cont">
                        <h2>Welcome to WIRAS</h2>
                        <p style="text-align: justify;">World Institute For Research In Advanced Sciences (WIRAS) , An
                            autonomous institution under Jamia Markaz was founded
                            in 2018 with the aim of moulding an exalted group of Islamic preachers who persues research
                            over modern academic
                            disciplines at the same time.
                        </p>
                        <p style="text-align: justify;">Located within Markaz Knowledge City, Biggest integrated
                            township in south India,Offers unparalleled opportunities in
                            multidicipliniary academic approaches with classical Islamic knowledge tradition for the
                            students all over the
                            world. WIRAS foster the uniqueness in right for education, intellectual independence,
                            originality of resources,
                            tradition with innovative and advanced researches for the sake of upgrading humanity with
                            moral values, adhering to
                            Sharia perspectives.
                        </p>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-7">
                    <div class="about-image mt-100">
                        <img src="images/about/about-1.jpeg" alt="About">
                    </div> <!-- about imag -->
                </div>
            </div> <!-- row -->
            <div class="about-items pt-60 pb-60">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>01</span>
                            <h4>Why Choose us</h4>
                            <p style="text-align: justify;">Apart from thousands of Islamic integrated institutions
                                around the world, WIRAS follows a distinct sort of
                                pedagogy and curriculam along with an exotic campus life which helps students to develop
                                an informed curiousity,
                                imbibe advanced dawa methodology and creates lasting passion for learning.</p>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>02</span>
                            <h4>Our Mission</h4>
                            <p style="text-align: justify;">To develop a solid core of dynamic generation of scholars
                                and professionals with eminence in the respective
                                academics, with humanity at heart to lead the society in any context, taking on the
                                challenges ahead, and to be
                                the torchbearers of the future, who could preserve the charm of the Tradition.</p>
                        </div> <!-- about singel -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-10">
                        <div class="about-singel-items mt-30">
                            <span>03</span>
                            <h4>Our vission</h4>
                            <p style="text-align: justify;">Creation of an excellent educational environment on par with
                                global standards in the sacred Islamic and secular
                                institutional realms of learning, keeping pace with the significant changes happening in
                                the structures of the
                                society.</p>
                        </div> <!-- about singel -->
                    </div>
                </div> <!-- row -->
            </div> <!-- about items -->
        </div> <!-- container -->
    </section>

    <!--====== ABOUT PART ENDS ======-->