<!--====== COURSES PART START ======-->

    <section id="courses-part" class="pt-50 pb-50 gray-bg">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="courses-grid" role="tabpanel"
                    aria-labelledby="courses-grid-tab">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="images/course/gc-1.jpeg" alt="Course">
                                    </div>

                                </div>
                                <div class="cont">
                                    <h4>Bachelor In Sharia And Modern Law</h4>

                                    <a class="main-btn">Details</a>
                                </div>
                            </div> <!-- singel course -->
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="images/course/gc-2.jpg" alt="Course">
                                    </div>

                                </div>
                                <div class="cont">

                                    <h4>Masters In Sharia And Mdern Law</h4>
                                    <a class="main-btn">Details</a>

                                </div>
                            </div> <!-- singel course -->
                        </div>
                    </div> <!-- row -->
                </div>
            </div>
        </div> <!-- tab content -->
        </div> <!-- container -->
    </section>

    <!--====== COURSES PART ENDS ======-->