  <!--====== COURSES PART START ======-->

    <section id="courses-part" class="pt-50 pb-50 gray-bg">
        <div class="container">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="courses-grid" role="tabpanel"
                    aria-labelledby="courses-grid-tab">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="images/course/ug.JPG" alt="Course">
                                    </div>

                                </div>
                                <div class="cont">
                                    <h4>Bachelor In Sharia And Modern Law</h4>

                                    <a class="main-btn" data-toggle="collapse" href="#course1" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">Details</a>
                                    <div class="pt-10 pb-10 collapse" id="course1">
                                        <p class="text-justify">This is a two-year course in Islamic studies and Modern
                                            Law. The student who enrolled in this
                                            program would get advanced training in the fundamental Islamic principles
                                            including textual analysis, research
                                            methodology in classical Islamic scholarship and practical interpretation of
                                            the text. The students who get enrolled
                                            in this course will attain a Bachelor in law and business administration
                                            from Markaz Law College along with the
                                            Master degree in Islamic studies.</p>

                                        <h5 class="m-3">Eligibility</h5>
                                        <ul class="list-group">
                                            <li>• Bachelor in Islamic studies approved by Jamiath-ul-hind al Islamiya or
                                                equivalent course.</li>
                                            <li>• Bachelor education or equivalent course in modern science.</li>
                                        </ul>


                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="images/course/unani.JPG" alt="Course">
                                    </div>

                                </div>
                                <div class="cont">
                                    <h4>Bachelor In Sharia And Medical Science</h4>

                                    <a class="main-btn" data-toggle="collapse" href="#course2" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">Details</a>
                                    <div class="pt-10 pb-10 collapse" id="course2">
                                        <p class="text-justify">This is a two-year course in Islamic studies and Modern
                                            Law. The student who enrolled in this
                                            program would get advanced training in the fundamental Islamic principles
                                            including textual analysis, research
                                            methodology in classical Islamic scholarship and practical interpretation of
                                            the text. The students who get enrolled
                                            in this course will attain a Bachelor in law and business administration
                                            from Markaz Law College along with the
                                            Master degree in Islamic studies.</p>

                                        <h5 class="m-3">Eligibility</h5>
                                        <ul class="list-group">
                                            <li>• Bachelor in Islamic studies approved by Jamiath-ul-hind al Islamiya or
                                                equivalent course.</li>
                                            <li>• Bachelor education or equivalent course in modern science.</li>
                                        </ul>


                                    </div>
                                </div>
                            </div> <!-- singel course -->
                        </div>

                        <div class="col-lg-4 col-md-6">
                            <div class="singel-course mt-30">
                                <div class="thum">
                                    <div class="image">
                                        <img src="images/course/pg.jpeg" alt="Course">
                                    </div>

                                </div>
                                <div class="cont">

                                    <h4>Masters In Sharia And Mdern Law</h4>
                                    <a class="main-btn" data-toggle="collapse" href="#course3" role="button"
                                        aria-expanded="false" aria-controls="collapseExample">Details</a>
                                    <div class="pt-10 pb-10 collapse" id="course3">
                                        <p class="text-justify">This is a five year course with particular focus in the
                                            comparative Islamic law and modern law. While conferring a
                                            bachelor in law, this course ensures a bachelor degree in Sharia studies
                                            too, which follows the methods and syllabus
                                            of traditional/classical Islamic leaning. This double degree will benefit
                                            the students in order to open new research
                                            avenues in the law scholarship. The students who get enrolled in this course
                                            will attain a Bachelor in law and
                                            business administration from Markaz Law College along with the Bachelor
                                            degree in Islamic studies</p>

                                        <h5 class="m-3">Eligibility</h5>
                                        <ul class="list-group">
                                            <li>• Higher secondary education or equivalent course in modern science.
                                            </li>
                                            <li>• Higher secondary in Islamic studies or equivalent course.</li>
                                        </ul>


                                    </div>

                                </div>
                            </div> <!-- singel course -->
                        </div>
                    </div> <!-- row -->
                </div>
            </div>
        </div> <!-- tab content -->
        </div> <!-- container -->
    </section>

    <!--====== COURSES PART ENDS ======-->