    <!--====== EVENTS PART START ======-->

    <section id="event-page" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="section-title mt-50 pb-35">
                <h3>Upcoming events</h3>

            </div> <!-- section title -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="singel-event-list mt-30">
                        <div class="event-thum">
                            <img src="images/event/arabic-conf.jpg" alt="Event">
                        </div>
                        <div class="event-cont">
                            <span><i class="fa fa-calendar"></i>08 January 2021</span>
                            <a target="_blank" href="http://www.rewaq.in/">
                                <h4>مؤتمر الوراث العالمي</h4>
                            </a>
                            <span><i class="fa fa-clock-o"></i> 7:00 Pm - 10:00 Pm</span>
                            <span><i class="fa fa-map-marker"></i> Virtual</span>
                            <p dir="auto" class="text-justify">يسعى هذا المؤتمر إلى بيان حقيقة التجديد في الشريعة
                                الإسلامية و يروم الإجابة لأسالة عديدة تحوم حول قضية التجديد التي
                                ظهرت في مختلف الأزمان و الأماكن<a target="_blank" href="http://www.rewaq.in/">See
                                    more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="singel-event-list mt-30">
                        <div class="event-thum">
                            <img src="images/event/icphri2021.jpg" alt="Event">
                        </div>
                        <div class="event-cont">
                            <span><i class="fa fa-calendar"></i> 25 March 2021</span>
                            <a target="_blank" href="http://www.rewaqassembly.xyz/">
                                <h4>ICPHRI 2021</h4>
                            </a>
                            <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                            <span><i class="fa fa-map-marker"></i>Virtual</span>
                            <p>ICPHRI bring together leading academic scholars and researchers to share their research
                                results on all aspects of...<a target="_blank" href="http://www.rewaqassembly.xyz/">See
                                    more</a></p>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== EVENTS PART ENDS ======-->