 <!--====== TEACHERS PART START ======-->

    <section id="teachers-part" class="pb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50 pb-35">
                        <h3>Our faculties</h3>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row d-flex justify-content-center">
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/a.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Sheikh Aboobacker Ahmed</h6>
                            </a>
                            <span>Chancellor</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/ponmalausd.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Sheikh Abdul Qadir Musliyar Ponmala</h6>
                            </a>
                            <span>Dean</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/g.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Dr. Abdul Hakeem Al Azhari</h6>
                            </a>
                            <span>Director</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/f.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Dr. Umarul Farooq Saqafi</h6>
                            </a>
                            <span>Academic director</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/p.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Al Usthad Abdul Basweer Saqafi</h6>
                            </a>
                            <span>HOD, Usoolul Fiqh</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/d.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Al Usthad Jamaludheen Ahsani</h6>
                            </a>
                            <span>HOD, Usooludheen</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/v.jpeg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Al Usthad Muhammad Nurani</h6>
                            </a>
                            <span>Faculty</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/c.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Adv. Shamseer Nurani Assaqafi</h6>
                            </a>
                            <span>Faculty</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
                <div class="col-lg-3 col-sm-6 ">
                    <div class="singel-teachers mt-30 text-center">
                        <div class="image">
                            <img src="images/teachers/e 1.jpg" alt="Teachers">
                        </div>
                        <div class="cont">
                            <a href="#">
                                <h6>Al Usthad Suhail Saqafi</h6>
                            </a>
                            <span>Faculty</span>
                        </div>
                    </div> <!-- singel teachers -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>

    <!--====== TEACHERS PART ENDS ======-->