 <!--====== HEADER PART START ======-->

    <div class="slider-active">
    
    <div class="bg-image" style="background-image: url(images/slider/cc.jpg);">
        <header id="header-part">
            
            <div class="navigation header-bg" style="box-shadow: 1px 2px 3px black;">
                <div class="container">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="logo mr-3">
                            <a href="/">
                                <img src="images/wiras_logo.png" alt="Logo">
                            </a>
                        </div>
                        <button class="bg-light navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
        
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="active" href="/">Home</a>
        
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="/about">About us</a>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="#">Programmes</a>
                                    <ul class="sub-menu">
                                        <li><a href="/courses-boys">For boys</a></li>
                                        <li><a href="/courses-girls">For girls</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="/events">Events</a>
                                    <ul class="sub-menu">
                                        <li><a target="_blank" href="http://www.rewaq.in/">World arabic
                                                confenrence</a></li>
                                        <li><a href="/icphri">ICPHRI 2021</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="/faculties">Our Faculties</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-white" href="#">Blogs</a>
                                    <ul class="sub-menu">
                                        <li><a target="_blank" href="https://www.theimpress.in">The Impress</a></li>
                                        <li><a target="_blank" href="https://www.vattalmulaku.com">Vattalmulaku</a>
                                        </li>
                                    </ul>
                                </li>
        
                                <li class="nav-item">
                                    <a class="text-white" href="/contact">Contact US</a>
                                </li>
        
                                
                            </ul>
                           <div>
                        <a style="font-family: 'Montserrat', sans-serif; font-weight: 700;" 
                            href="/login" class="text-white">Login <i
                                class="fa fa-sign-in"></i></a>
                    </div>
                        </div>
                       
                    </nav> 
                </div>
      
            </div>
     
        </header>


    
        <!--====== HEADER PART ENDS ======-->
    
        <!--====== SLIDER PART START ======-->
    
        <section  id="slider-part" class="slider-active">
            <div style="height:40vw;"  class="single-slider bg_cover pt-150" data-overlay="4" >
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9">
                            <div class="slider-cont">
                                <h1 data-animation="bounceInLeft" data-delay="1s">WIRAS</h1>
                                <p data-animation="fadeInUp" data-delay="1.3s">World Institute for Research in Advanced
                                    Sciences</h5>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single slider -->

           

            
    
    
    
        </section>
    </div>
    <div class="bg-image" style="background-image: url(images/slider/wiras-1.jpg);">
        <header id="header-part">
            
            <div class="navigation header-bg" style="box-shadow: 1px 2px 3px black;">
                <div class="container">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="logo mr-3">
                            <a href="index.html">
                                <img src="images/wiras_logo.png" alt="Logo">
                            </a>
                        </div>
                        <button class="bg-light navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
        
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="active" href="index.html">Home</a>
        
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="about.html">About us</a>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="#">Programmes</a>
                                    <ul class="sub-menu">
                                        <li><a href="courses-boys.html">For boys</a></li>
                                        <li><a href="courses-girls.html">For girls</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="events.html">Events</a>
                                    <ul class="sub-menu">
                                        <li><a target="_blank" href="http://www.rewaq.in/">World arabic
                                                confenrence</a></li>
                                        <li><a href="icphri.html">ICPHRI 2021</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="teachers.html">Our Faculties</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-white" href="#">Blogs</a>
                                    <ul class="sub-menu">
                                        <li><a target="_blank" href="https://www.theimpress.in">The Impress</a></li>
                                        <li><a target="_blank" href="https://www.vattalmulaku.com">Vattalmulaku</a>
                                        </li>
                                    </ul>
                                </li>
        
                                <li class="nav-item">
                                    <a class="text-white" href="contact.html">Contact US</a>
                                </li>
        
                                
                            </ul>
                            <div >
                                <a style="font-family: 'Montserrat', sans-serif; font-weight: 700;"  class="text-white" href="#">Login <i class="fa fa-sign-in"></i></a>
                            </div>
                        </div>
                       
                    </nav> 
                </div>
      
            </div>
     
        </header>
    
        <!--====== HEADER PART ENDS ======-->
    
        <!--====== SLIDER PART START ======-->
    
        <section  id="slider-part" class="slider-active">
            <div style="height:40vw;"  class="single-slider bg_cover pt-150" data-overlay="4" >
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9">
                            <div class="slider-cont">
                                <h1 data-animation="bounceInLeft" data-delay="1s">WIRAS</h1>
                                <p data-animation="fadeInUp" data-delay="1.3s">World Institute for Research in Advanced
                                    Sciences</h5>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single slider -->
           

           

            
    
    
    
        </section>
    </div>
    <div class="bg-image" style="background-image: url(images/slider/wiras-2.jpg);">
        <header id="header-part">
            
            <div class="navigation header-bg" style="box-shadow: 1px 2px 3px black;">
                <div class="container">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="logo mr-3">
                            <a href="index.html">
                                <img src="images/wiras_logo.png" alt="Logo">
                            </a>
                        </div>
                        <button class="bg-light navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
        
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
        
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="active" href="index.html">Home</a>
        
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="about.html">About us</a>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="#">Programmes</a>
                                    <ul class="sub-menu">
                                        <li><a href="courses-boys.html">For boys</a></li>
                                        <li><a href="courses-girls.html">For girls</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="events.html">Events</a>
                                    <ul class="sub-menu">
                                        <li><a target="_blank" href="http://www.rewaq.in/">World arabic
                                                confenrence</a></li>
                                        <li><a href="icphri.html">ICPHRI 2021</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="text-white" href="teachers.html">Our Faculties</a>
                                </li>
                                <li class="nav-item">
                                    <a class="text-white" href="#">Blogs</a>
                                    <ul class="sub-menu">
                                        <li><a target="_blank" href="https://www.theimpress.in">The Impress</a></li>
                                        <li><a target="_blank" href="https://www.vattalmulaku.com">Vattalmulaku</a>
                                        </li>
                                    </ul>
                                </li>
        
                                <li class="nav-item">
                                    <a class="text-white" href="contact.html">Contact US</a>
                                </li>
        
                                
                            </ul>
                            <div >
                                <a style="font-family: 'Montserrat', sans-serif; font-weight: 700;"  class="text-white" href="#">Login <i class="fa fa-sign-in"></i></a>
                            </div>
                        </div>
                       
                    </nav> 
                </div>
      
            </div>
     
        </header>
    
        <!--====== HEADER PART ENDS ======-->
    
        <!--====== SLIDER PART START ======-->
    
        <section  id="slider-part" class="slider-active">
            <div style="height:40vw;"  class="single-slider bg_cover pt-150" data-overlay="4" >
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-9">
                            <div class="slider-cont">
                                <h1 data-animation="bounceInLeft" data-delay="1s">WIRAS</h1>
                                <p data-animation="fadeInUp" data-delay="1.3s">World Institute for Research in Advanced
                                    Sciences</h5>
                            </div>
                        </div>
                    </div> <!-- row -->
                </div> <!-- container -->
            </div> <!-- single slider -->
    
        </section>
    </div>
    </div>

    
    <!--====== SLIDER PART ENDS ======-->

    <!--====== ABOUT PART START ======-->

    <section id="about-part" class="pt-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title mt-50">

                        <h2>Welcome to WIRAS</h2>
                    </div> <!-- section title -->
                    <div class="about-cont">
                        <p class="text-justify">World Institute For Research In Advanced Sciences (WIRAS) , An
                            autonomous institution under Jamia Markaz was founded
                            in 2018 with the aim of moulding an exalted group of Islamic preachers who persues research
                            over modern academic
                            disciplines at the same time.</p>
                        <a href="about.html" class="main-btn mt-55">Read More</a>
                    </div>
                </div> <!-- about cont -->
                <div class="col-lg-6 offset-lg-1">
                    <div class="about-event mt-50">
                        <div class="event-title">
                            <h3>Upcoming events</h3>
                        </div> <!-- event title -->
                        <ul >
                            <li>
                                <div class="singel-event">
                                    <span><i class="fa fa-calendar"></i> 8 January 2021</span>
                                    <a target="_blank" href="http://rewaq.in/">
                                        <h4 style="font-family: 'Cairo', sans-serif;">مؤتمر الوراث العالمي</h4>
                                    </a>
                                    <span><i class="fa fa-clock-o"></i> 7:00 Pm - 10:00 Pm</span>
                                    <span><i class="fa fa-map-marker"></i> Virtual</span>
                                </div>
                            </li>
                            <li>
                                <div class="singel-event">
                                    <span><i class="fa fa-calendar"></i> 25 March 2021</span>
                                    <a target="_blank" href="icphri.html">
                                        <h4>ICPHRI 2021</h4>
                                    </a>
                                    <span><i class="fa fa-clock-o"></i> 10:00 Am - 3:00 Pm</span>
                                    <span><i class="fa fa-map-marker"></i>Virtual</span>
                                </div>
                            </li>

                        </ul>
                    </div> <!-- about event -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->

    </section>

    <!--====== ABOUT PART ENDS ======-->

    <!--====== APPLY PART START ======-->

    <!-- <section id="apply-aprt" class="pb-120">
        <div class="container">
            <div class="apply">
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="apply-cont apply-color-1">
                            <h3>Apply for fall 2019</h3>
                            <p>Gravida nibh vel velit auctor aliquetn sollicitudirem sem quibibendum auci elit cons equat ipsutis sem nibh id elituis sed odio sit amet nibh vulputate cursus equat ipsutis.</p>
                            <a href="#" class="main-btn">Apply Now</a>
                        </div> 
                    </div>
                    <div class="col-lg-6">
                        <div class="apply-cont apply-color-2">
                            <h3>Apply for scholarship</h3>
                            <p>Gravida nibh vel velit auctor aliquetn sollicitudirem sem quibibendum auci elit cons equat ipsutis sem nibh id elituis sed odio sit amet nibh vulputate cursus equat ipsutis.</p>
                            <a href="#" class="main-btn">Apply Now</a>
                        </div> 
                    </div> 
                </div>
            </div> 
        </div> 
    </section> -->

    <!--====== APPLY PART ENDS ======-->

    <!--====== COURSE PART START ======-->

    <section id="course-part" class="pt-115 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title pb-45">

                        <h2>Our Programmes</h2>
                    </div> <!-- section title -->
                </div>
            </div> <!-- row -->
            <div class="row course-slied mt-30">
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/ug.JPG" alt="Course">
                            </div>

                        </div>
                        <div class="cont">
                            <h4>Bachelor In Sharia And Modern Law</h4>

                            <a class="main-btn" data-toggle="collapse" href="#course1" role="button"
                                aria-expanded="false" aria-controls="collapseExample">Details</a>
                            <div class="pt-10 pb-10 collapse" id="course1">
                                <p class="text-justify">This is a two-year course in Islamic studies and Modern Law. The
                                    student who enrolled in this
                                    program would get advanced training in the fundamental Islamic principles including
                                    textual analysis, research
                                    methodology in classical Islamic scholarship and practical interpretation of the
                                    text. The students who get enrolled
                                    in this course will attain a Bachelor in law and business administration from Markaz
                                    Law College along with the
                                    Master degree in Islamic studies.</p>

                                <h5 class="m-3">Eligibility</h5>
                                <ul class="list-group">
                                    <li>• Bachelor in Islamic studies approved by Jamiath-ul-hind al Islamiya or
                                        equivalent course.</li>
                                    <li>• Bachelor education or equivalent course in modern science.</li>
                                </ul>


                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/unani.JPG" alt="Course">
                            </div>

                        </div>
                        <div class="cont">
                            <h4>Bachelor In Sharia And Medical Science</h4>

                            <a class="main-btn" data-toggle="collapse" href="#course2" role="button"
                                aria-expanded="false" aria-controls="collapseExample">Details</a>
                            <div class="pt-10 pb-10 collapse" id="course2">
                                <p class="text-justify">This is a two-year course in Islamic studies and Modern Law. The
                                    student who enrolled in this
                                    program would get advanced training in the fundamental Islamic principles including
                                    textual analysis, research
                                    methodology in classical Islamic scholarship and practical interpretation of the
                                    text. The students who get enrolled
                                    in this course will attain a Bachelor in law and business administration from Markaz
                                    Law College along with the
                                    Master degree in Islamic studies.</p>

                                <h5 class="m-3">Eligibility</h5>
                                <ul class="list-group">
                                    <li>• Bachelor in Islamic studies approved by Jamiath-ul-hind al Islamiya or
                                        equivalent course.</li>
                                    <li>• Bachelor education or equivalent course in modern science.</li>
                                </ul>


                            </div>
                        </div>
                    </div> <!-- singel course -->
                </div>
                <div class="col-lg-4">
                    <div class="singel-course">
                        <div class="thum">
                            <div class="image">
                                <img src="images/course/pg.jpeg" alt="Course">
                            </div>
                        </div>
                        <div class="cont">

                            <h4>Masters In Sharia And Mdern Law</h4>
                            <a class="main-btn" data-toggle="collapse" href="#course3" role="button"
                                aria-expanded="false" aria-controls="collapseExample">Details</a>
                            <div class="pt-10 pb-10 collapse" id="course3">
                                <p class="text-justify">This is a five year course with particular focus in the
                                    comparative Islamic law and modern law. While conferring a
                                    bachelor in law, this course ensures a bachelor degree in Sharia studies too, which
                                    follows the methods and syllabus
                                    of traditional/classical Islamic leaning. This double degree will benefit the
                                    students in order to open new research
                                    avenues in the law scholarship. The students who get enrolled in this course will
                                    attain a Bachelor in law and
                                    business administration from Markaz Law College along with the Bachelor degree in
                                    Islamic studies</p>

                                <h5 class="m-3">Eligibility</h5>
                                <ul class="list-group">
                                    <li>• Higher secondary education or equivalent course in modern science.</li>
                                    <li>• Higher secondary in Islamic studies or equivalent course.</li>
                                </ul>


                            </div>

                        </div>
                    </div> <!-- singel course -->
                </div>
            </div> <!-- course slied -->
        </div> <!-- container -->
    </section>

    <!--====== COURSE PART ENDS ======-->

    <!--====== VIDEO FEATURE PART START ======-->

    <section id="video-feature" class="bg_cover pt-60 pb-110" style="background-image: url(images/20201002_181133.jpg)">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-last order-lg-first">

                </div>
                <div class="col-lg-5 offset-lg-1 order-first order-lg-last">
                    <div class="feature pt-50">
                        <div class="feature-title">
                            <h3>Our Facilities</h3>
                        </div>
                        <ul>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="images/all-icons/art&culture.svg" alt="icon">
                                    </div>

                                    <div class="cont">
                                        <h4>Arts and culure</h4>
                                        <p>As a part of co-curriculur syllabus Wiras aims at reinforcing students
                                            artistic skills and promoting their spirit of
                                            creativity by conducting art festives and workshops .</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="images/all-icons/union.svg" alt="icon">
                                    </div>

                                    <div class="cont">
                                        <h4>Student's Organization</h4>
                                        <p>Rewaq , official students organization is the major catalyst in enriching the
                                            intellectual and academic engagements
                                            of the students by providing adequate resources interms of workshops,lecture
                                            series,seminars etc.</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="images/all-icons/cc.svg" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Cultural Centre</h4>
                                        <p>The Cultural Centre inside Markaz Knowledge City is a --monumental project
                                            under construction and is soon to be open.
                                            One of the most gigantic projects in India, it is spread over an area of 5
                                            acres. The cultural centre never fails to
                                            impress you with its intelligent design, wonderful decor and core
                                            architecture. It has been moulded by blending
                                            nature and architecture to ensure a unique and enjoyable environment.</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                            <li>
                                <div class="singel-feature">
                                    <div class="icon">
                                        <img src="images/all-icons/library.svg" alt="icon">
                                    </div>
                                    <div class="cont">
                                        <h4>Library</h4>
                                        <p>Wiras offers its students wide range of book collection on multi disciplines
                                            in multi languages. Which includes
                                            classical Islamic writings to modern academic texts.</p>
                                    </div>
                                </div> <!-- singel feature -->
                            </li>
                        </ul>
                    </div> <!-- feature -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
        <div class="feature-bg"></div> <!-- feature bg -->
    </section>

    <!--====== VIDEO FEATURE PART ENDS ======-->


    <!--====== LOGO PART START ======-->

    <div id="patnar-logo" class="pt-40 pb-80 gray-bg">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-6">
                    <div class="singel-patnar text-center mt-40">
                        <img class="img-fluid" src="images/logos/mkc.png" alt="Logo">
                    </div>
                </div>
                <div class="col-lg-6 col-6">
                    <div class="singel-patnar text-center mt-40">
                        <img class="img-fluid" src="images/logos/logo.png" alt="Logo">
                    </div>
                </div>

                

            </div> <!-- row -->
        </div> <!-- container -->
    </div>

    <!--====== LOGO PART ENDS ======-->

